/* styles.css */

/* PLATFORM */
.platform-container {
  @apply flex w-full items-center  justify-center overflow-y-auto relative;
}
.box-container {
  @apply flex w-full items-center justify-center overflow-y-auto relative;
}
.platform-content {
  @apply flex flex-col md:flex-row items-center justify-between w-full container p-4 rounded-lg;
}

.platform-title {
  @apply bg-[#2176F5] bg-clip-text text-transparent font-bold text-lg md:text-3xl lg:text-5xl text-center;
}

.platform-description {
  @apply text-gray-900 text-sm sm:text-base md:text-lg lg:text-xl text-center max-w-xs sm:max-w-md md:max-w-lg lg:max-w-xl;
}

.platform-item-title {
  @apply font-bold text-gray-600 text-lg relative md:text-2xl mb-4;
}

.platform-icon-container {
  @apply flex flex-wrap justify-center gap-6;
}

.platform-icon {
  @apply w-16 h-16 md:w-20 md:h-20 lg:w-24 lg:h-24 flex items-center justify-center p-4 bg-white rounded-full overflow-hidden shadow-2xl;
}

/*CorporateClients*/
.scrolling-container {
  padding: 2%;
  overflow-x: scroll;
  position: relative;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrolling-container::-webkit-scrollbar {
  display: none;
}
.scrolling-item {
  flex-shrink: 0;
  margin-right: 2rem;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.scrolling-item {
  min-width: 100px;
  margin-right: 16px;
  transition: transform 0.3s ease;
}

.scrolling-item:hover {
  transform: scale(1.2);
}
.scrolling-container::-webkit-scrollbar {
  display: none;
}
/*Products*/
.product-button {
  @apply rounded-full pl-5 pr-5 p-1 bg-blue-500 border border-blue-500 transition-colors duration-150;
}

.product-button:hover {
  @apply bg-white border-blue-500;
}
/* shape container */
.rounded-shape {
  position: absolute;
  width: 100%;
  height: 30%;
  background: #2176f5;

  clip-path: polygon(0 0, 60% 0, 0 100%);

  top: 0;
  left: 0;
  z-index: 0;
}

@media (max-width: 1024px) {
  .rounded-shape {
    width: 80%;
    height: 30%;
  }
}

@media (max-width: 768px) {
  .rounded-shape {
    width: 70%;
    height: 20%;
  }
}

@media (max-width: 640px) {
  .rounded-shape {
    width: 60%;
    height: 5%;
  }
}

.animation-container {
  width: 100%;
  height: auto;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 1.25rem;
  padding: 5rem;
  max-width: 20rem;
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-90px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.button {
  margin-top: auto;
  display: flex;
  justify-content: center;
}

.button-inner {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  margin-top: 1rem;
  padding: 0.25rem;
  background-color: #3b82f6;
  border: 1px solid #3b82f6;
  transition: all 0.15s;
}

.button-inner:hover {
  background-color: white;
  border-color: #3b82f6;
}
.shadow-top {
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
}
.shadowinner {
  box-shadow: inset 0 4px 15px rgba(0, 0, 0, 0.3);
}
