.container {
  max-width: 1200px;
}
@media (max-width: 768px) {
  .container {
    max-width: 100%;
  }
}

.icon {
  width: 100px;
  margin: 0 auto;
}
body {
  font-family: "Roboto", sans-serif;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #00b14f;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #21e77a;
}
html {
  scroll-behavior: smooth;
}
